{% extends "admin/change_form.html" %}
{% load i18n %}

{% block footer %}
<div class="colM" style="padding: 20px 40px">
  <div style="">
    <h2>{% trans "Notifications" %}</h2>
    {% if original.notifications.exists %}
    <table style="width: 100%">
      <thead>
        <tr>
          <th style="width: 150px">{% trans "At moment" %}</th>
          <th style="width: 180px">{% trans "User" %}</th>
          <th>{% trans "Hook" %}</th>
          <th style="width: 50px">{% trans "Status" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for notification in original.notifications.filter %}
        <tr>
          <td>{{ notification.at_moment | date:'d/m/Y H:i:s' }}</td>
          <td>{{ notification.by }} ({{ notification.by.get_full_name }})</td>
          <td>{{ notification.hook }}</td>
          <td style="text-align: center">{{ notification.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div>
      Ainda não foi feito nenhum registro de notificação.
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
